<div class="container">
    <h1 class="page-header">Admin</h1>

    <h2>Current Active Sessions:</h2>

    <ul class="list-group">

    </ul>

    <a class="nav-item nav-link" href="/auth/logout">Logout</a>

</div>