<div class="container">
    <h1 class="page-header">Admin</h1>

    <h2>Current Active Sessions:</h2>


        <% for(const session in sessionList) {%>
            <div>
                <p>Session ID: <%= session.sessionID %></p>
                <p>UserID: <%= session.passport %></p>
                <a href="/auth/admin/revoke/?id=<%=session.sessionID%>">Revoke Session</a>
            </div>
        <% } %>


    <a class="nav-item nav-link" href="/auth/logout">Logout</a>

</div>